@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: white;
  overflow-x: hidden;
}

body.isModalOpen, .isMobileNavOpen {
  height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .navbar-brand-container {
    padding-top: 0.2rem;
  }
  .navbar-brand-svg {
    top: 5px;
  }
  
  @variants responsive {
    .nav-toggler-md path {
      stroke-linecap: round;
      d: path("M1,2 L9,2 M1,5 L9,5 M1,8 L9,8");
      transition: d 0.3s;
    }
    .nav-toggler-md:hover path {
      stroke: springgreen;
      d: path("M2,1 L2,9 M5,1 L5,9 M8,1 L8,9");
    }
    
    .nav-toggler path {
      d: path("M1,2 L9,2 M1,5 L9,5 M1,8 L9,8");
      stroke-linecap: round;
      transition: d 0.3s;
    }
    .nav-toggler:hover path {
      d: path("M1,2 L9,2 M1,5 L9,5 M1,8 L9,8");
    }

    .nav-toggler.active path {
      stroke: springgreen;
      d: path("M2,1 L2,5 M5,1 L5,7 M8,1 L8,9");
    }
  }

  .nav {
    transition: transform .8s, clip-path .8s;
  }
  @variants responsive {
    .nav.open-md {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .nav.closed-md {
      transform: translateX(100%);
      clip-path: polygon(5% 0%, 5% 0%, 5% 100%, 5% 100%);
    }
  }

  @variants responsive {
    .hero-holder {
      height: 60vh;
    }
    .hero-holder-md {
      height: 50vh;
    }
  }

  @variants responsive {
    .main-content {
      top: calc(60vh);
    }
    
    .main-content-md {
      top: calc(50vh);
    }
  }
}